{{!-- begin: navbar --}}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Corazón debajo de la cresta del gallo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

					<li class="nav-item {{race}}">
						<a class="nav-link" href="race.html">Rasse</a>
					</li>

					<li class="nav-item {{characteristics}}">
						<a class="nav-link" href="characteristics.html">Steckbrief</a>
					</li>

					<li class="nav-item {{photos}}">
						<a class="nav-link" href="photos.html">Fotos</a>
					</li>

					<li class="nav-item {{litters}}">
						<a class="nav-link" href="litters.html">Wurfplanung</a>
					</li>

					<li class="nav-item {{contact}}">
						<a class="nav-link" href="contact.html">Kontakt</a>
					</li>
        </ul>
      </div>
    </nav>
{{!-- end: navbar --}}
